<div class="row col-md-4" id="product" *ngIf="product">
    <div class="container">
        <div class="col-12">

            <h2 class="text-center">{{title}}</h2>
            <form #register="ngForm" (ngSubmit)="onSubmit()">

                <div>
                    <span class="titulo">Selecciones el producto </span>
                    <select class="form-control" name="seleccionProducto" [(ngModel)]="seleccionProducto">   
                    <option value="">Elija el producto</option>
                    <option *ngFor="let product of productos"  [value]="product" >{{product}}</option>
                    </select>
                </div>

                <div class=" ">
                    <span class="titulo">Selecciones el proveedor </span>
                    <select class="form-control" name="providerId" #providerId="ngModel" [(ngModel)]="seleccion">   
                    <option value="">Elija el proveedor</option>
                    <option *ngFor="let proveedor of provider"  [value]="proveedor.nameCompany" >{{proveedor.nameCompany}}</option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class=" form-control " name="providerId" #providerId="ngModel" [(ngModel)]="product.providerId" placeholder="Nombre del producto">
                </div> -->
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class=" form-control " name="name" #name="ngModel" [(ngModel)]="product.name" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="code">Código de barras</label>
                    <input type="text" class=" form-control " name="control" #control="ngModel" [(ngModel)]="product.code" placeholder="Código">
                </div>
                <div class="form-group">
                    <label for="quantity">Cantidad</label>
                    <input type="number" class=" form-control " name="quantity" #quantity="ngModel" [(ngModel)]="product.quantity" placeholder="Cantidad">
                </div>
                <div class="form-group">
                    <label for="priceHiger">Precio por mayor</label>
                    <input type="number" class=" form-control " name="priceHigher" #priceHigher="ngModel" [(ngModel)]="product.priceHigher" placeholder="Precio por mayor">
                </div>
                <div class="form-group">
                    <label for="priceClient">Precio cliente</label>
                    <input type="number" class=" form-control " name="priceClient" #priceClient="ngModel" [(ngModel)]="product.priceClient" placeholder="Precio para el cliente">
                </div>
                <div class="form-group">
                    <label for="image">Subir imagen</label>
                    <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
                </div>

                <div *ngIf="seleccionProducto === 'arroz'">
                    <button type="submit" (click)="saveArroz()" class="btn btn-success btn-register offset-5">Guardar arroz</button>
                </div>

                <div *ngIf="seleccionProducto === 'aceite'">
                    <button type="submit" (click)="saveAceite()" class="btn btn-success btn-register offset-5">Guardar aceite</button>
                </div>

                <!-- <button type="submit" class="btn btn-success btn-register offset-5">Guardar</button> -->
            </form>
        </div>

    </div>
</div>