<div class="row col-md-4" id="product" *ngIf="arroz">
    <div class="container">
        <div class="col-12">
            <a [routerLink]="['/admon/editar-arroz']">Editar</a>

            <h2 class="text-center">{{title}}</h2>
            <form #register="ngForm" (ngSubmit)="onSubmit()">

                <div class=" ">
                    <span class="titulo">Selecciones el proveedor </span>
                    <select class="form-control" name="providerId" #providerId="ngModel" [(ngModel)]="seleccion">   
                    <option value="">Elija el proveedor</option>
                    <option *ngFor="let proveedor of provider"  [value]="proveedor.nameCompany" >{{proveedor.nameCompany}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class=" form-control " name="name" #name="ngModel" [(ngModel)]="arroz.name" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="code">Código de barras</label>
                    <input type="text" class=" form-control " name="code" #code="ngModel" [(ngModel)]="arroz.code" placeholder="Código del producto">
                </div>
                <div class="form-group">
                    <label for="quantity">Cantidad</label>
                    <input type="number" class=" form-control " name="quantity" #quantity="ngModel" [(ngModel)]="arroz.quantity" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="priceHiger">Precio por mayor</label>
                    <input type="number" class=" form-control " name="priceHigher" #priceHigher="ngModel" [(ngModel)]="arroz.priceHigher" placeholder="Precio por mayor">
                </div>
                <div class="form-group">
                    <label for="priceClient">Precio cliente</label>
                    <input type="number" class=" form-control " name="priceClient" #priceClient="ngModel" [(ngModel)]="arroz.priceClient" placeholder="Precio para el cliente">
                </div>
                <div class="form-group">
                    <label for="image">Subir imagen</label>
                    <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
                </div>


                <button type="submit" (click)="saveProduct()" class="btn btn-success btn-register offset-5">Guardar</button>
            </form>
        </div>

    </div>
</div>