<div class="navbar navbar-dark bg-secundario nav-abarrotes ">
    <nav class="col-12 col-md-12">
        <ul>
            <li>
                <a href=" ">Arroz</a>
            </li>
            <li>
                <a href=" ">Aceite</a>
            </li>
            <li>
                <a href=" ">Azucar</a>
            </li>
            <li>
                <a href=" ">Granos</a>
            </li>
            <li>
                <a href=" ">Pastas</a>
            </li>
            <li>
                <a href=" ">Arinas</a>
            </li>
            <li>
                <a href=" ">Sal</a>
            </li>
            <li>
                <a href=" ">Huevos</a>
            </li>
        </ul>
    </nav>
</div>