<div class="row col-md-2 pt-2 mb-2">
    <input type="text" #bus="ngModel" class="form-control" #lectura autofocus name="lectura" (keyup.enter)="addForm()" [(ngModel)]="busqueda" placeholder="Lea el código de barras">
</div>

<div class="row" *ngFor="let producto of product | search: busqueda">
    <div *ngIf="busqueda === producto.code">
        <input type="hidden" #name value="{{producto.name}}">
        <input type="hidden" #priceClient value="{{producto.priceClient}}">
        <input type="hidden" #code value="{{producto.code}}">
        <input type="hidden" #quantity value="{{producto.quantity}}">
    </div>
</div>



<div>
    <form #ventasForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="form-row" *ngFor="let producto of dataarray; let i = index">
                <div class="form-group ">

                    <input type="text " class="form-control " name="nombre{{i}} " [(ngModel)]="nombre[i] ">
                </div>
                <div class="form-group ">
                    <input type="number" class="form-control " name="precioCliente{{i}} " [(ngModel)]="precioCliente[i] ">
                </div>
                <div class="form-group ">
                    <input type="number" class="form-control" name="cantidad{{i}}" [(ngModel)]="cantidad[i]">
                </div>
                <!-- <div class="form-group ">
                    <input type="number " class="form-control ">
                </div> -->
                <div class="form-group col-md-2 ">

                    <span (click)="removeForm([i]) " class="btn btn-danger ">-</span>
                </div>
            </div>
            <span (click)=" addItems() " class="btn btn-success ">+</span>
            <button class="btn btn-primary ">Guardar</button>
        </div>
    </form>
</div>