<!-- BARRA LATERAL MOVIL -->
<nav id="movil" class="navbar navbar-expand-lg navbar-dark bg-secundario d-block d-md-none p-0 ">
    <a class="navbar-brand text-center" href="#">Administrar la tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down "></i> 
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link pl-5" routerLinkActive="active" [routerLink]="['/admon/listar-proveedores']"><i class="fas fa-user mr-2"></i>Proveedores</a>

            </li>
            <li class="nav-item">
                <a class="nav-link pl-5" routerLinkActive="active" [routerLink]="['/admon/listar-productos']"><i class="fas fa-pencil-ruler mr-2"></i>Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-5" href="#"><i class="fas fa-share-square mr-2"></i>Ventas</a>
            </li>


        </ul>

    </div>
</nav>

<!-- BARRA LATERAL PC-->
<div id="aside" class="col-12 d-none d-md-block aside offset-md-10">
    <aside class="esconder">
        <h6 href="#" class="tienda">Administrar la tienda</h6>

        <ul class="navbar-nav">
            <li class="nav-item">

                <a class="nav-link pl-5" routerLinkActive="active" [routerLink]="['/admon/listar-proveedores']"><i class="fas fa-user mr-2"></i>Proveedores</a>

            </li>
            <li class="nav-item">
                <a class="nav-link pl-5" routerLinkActive="active" [routerLink]="['/admon/listar-productos']"><i class="fas fa-pencil-ruler mr-2"></i>Productos</a>

            </li>
            <li class="nav-item">
                <a class="nav-link pl-5" href="#"><i class="fas fa-share-square mr-2"></i>Ventas</a>
            </li>

        </ul>


    </aside>
</div>



<!-- BARRA LATERAL -->
<nav id="movil" class="navbar navbar-expand-lg navbar-dark bg-secundario d-block d-md-none p-0">
    <a class="navbar-brand text-center" href="#">Entrar a la tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-chevron-down "></i> 
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/abarrotes']">Abarrotes</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Despensa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nevera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aseo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Galletas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carnes frias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Licores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Helados</a>
            </li>

        </ul>

    </div>
</nav>

<!-- BARRA LATERAL -->
<div id="aside" class="col-12 d-none d-md-block aside crear-productos">
    <aside class="esconder ">
        <h6 href="#" class="tienda">Crar productos</h6>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/abarrotes']">Abarrotes</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/admon/crear-arroz">Arroz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/admon/crear-aceite">Aceite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Azucar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Gronos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Pastas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Arinas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Sal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Huevos</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="active" routerLink="/arroz">Despensa</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Enlatados y conservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Cereales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Avenas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Salsas y vinagre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Condimentos y adobos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Caldos, sopas y cremas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nevera</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Gaseosas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Lacteos</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aseo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Galletas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carnes frias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Licores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hlados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Golosinas</a>
            </li>

        </ul>


    </aside>
</div>