<a class="btn btn-success mt-5 offset-md-8" [routerLink]="['/admon/crear-proveedor']">Crear un proveedor</a>
<div id="lista-proveedores" class="row pl-4" *ngIf="provider">
    <div class="container">
        <div class="col-12">

            <h2 class="titulo">{{title}}</h2>


            <table class="table table-hover table-dark table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Telefono</th>
                        <th>Eitar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody *ngFor="let proveedor of provider">
                    <tr>
                        <td>{{proveedor.nameProvider}}</td>
                        <td>{{proveedor.nameCompany}}</td>
                        <td>{{proveedor.phone}}</td>
                        <td>
                            <a [routerLink]="['/admon/editar-proveedor', proveedor._id]" class="btn btn-primary mt-1"><i class="fas fa-user-edit mr-2"></i>Editar</a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary" (click)="alerta(proveedor.nameProvider, proveedor._id)" class="btn btn-danger mt-1"><i class="fas fa-trash-alt mr-2"></i>Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>