<nav id="nav" class="navbar navbar-expand-md navbar-dark bg-dark text-white">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="iconos-movil iconos-nav">
                <a class="nav-link pl-2" routerLinkActive="active" [routerLink]="['/abarrotes-movil']">Abarrotes</a>

                <ul class="nav-expandida">
                    <li class="nav-item">
                        <a class="nav-link " routerLinkActive="active" [routerLink]="'/arroz'">Arroz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/aceite']">Aceite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Azucar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Granos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Pastas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Arinas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Sal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="active" routerLink="/arroz">Huevos</a>
                    </li>


                </ul>


                <li class="iconos-movil iconos-nav">
                    <a routerLink="/perfil" class="nav-link pl-2">Despensa</a>

                    <ul class="nav-expandida">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Enlatados y conservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Cereales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Avenas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Salsas y vinagre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Condimentos y adobos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="active" routerLink="/arroz">Caldos, sopas y cremas</a>
                        </li>
                    </ul>
                </li>

                <li class="iconos-movil iconos-nav">
                    <a class="nav-link pl-2">Nevera</a>
                    <ul class="nav-expandida">
                        <li class="nav-item">
                            <a class="nav-link pl-2" routerLink="active" routerLink="/arroz">Gaseosas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-2" routerLink="active" routerLink="/arroz">Lacteos</a>
                        </li>
                    </ul>
                </li>

                <li class="iconos-movil iconos-nav">
                    <a [routerLink]="['/login']" class="nav-link pl-2">
                        Aseo</a>
                </li>
                <li class="iconos-movil iconos-nav"><a routerLink="/perfil" class="nav-link pl-2">Galletas</a></li>
                <li class="iconos-movil iconos-nav"><a class="nav-link pl-2">Carnes</a></li>
                <li class="iconos-movil iconos-nav"><a [routerLink]="['/login']" class="nav-link pl-2">Licores</a></li>
                <li class="iconos-movil iconos-nav"><a routerLink="/perfil" class="nav-link pl-2">Helados</a></li>
                <li class="iconos-movil iconos-nav"><a class="nav-link pl-2" routerLink="/perfil">Golosinas</a></li>



        </ul>
        <form class="form-inline my-2 my-lg-0 usuario">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <li class="iconos-movil iconos-nav"><a href="#" class="nav-link"><i class="fas fa-cart-arrow-down fa-lg ml-1"></i>Total</a></li>

            <li class="iconos-movil iconos-nav segundos" *ngIf="!identity">
                <a class="nav-link" [routerLink]=" [ '/login'] " routerLinkActive="active"><i class="fas fa-user fa-lg mr-1 "></i>Login</a>
            </li>
            <div *ngIf="identity">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-lg mr-1 "></i>{{identity.name}}
                </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngIf="identity && identity.role == 'ADMIN_ROLE'">

                            <a class="dropdown-item" [routerLink]="['/admon']">Administración</a>
                        </li>
                        <a class="dropdown-item" [routerLink]="['/actualizar-datos']">Actualizar datos</a>

                        <a class="dropdown-item pointer" (click)="logout()">Salir</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</nav>