<div class="container" id="register">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12">
            <form #userEditFomr="ngForm" (ngSubmit)="onSubmit()" class="border rounded p-3 mt-3">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name">
                    <span *ngIf="!name.valid && name.touched">
                        El nombre es obligatorio
                    </span>
                </div>

                <div class="form-group">
                    <label for="surname">Apellidos</label>
                    <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname">
                    <span *ngIf="!surname.valid && surname.touched">
                        Los apellidos son obligatorios
                    </span>
                </div>

                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="user.address">
                    <span *ngIf="!address.valid && address.touched">
                        La dirección es obligatoria
                    </span>
                </div>

                <div class="form-group">
                    <label for="email">Dirección</label>
                    <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email">
                    <span *ngIf="!email.valid && email.touched">
                        La dirección es obligatoria
                    </span>
                </div>

                <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!userEditFomr.form.valid">

            </form>
            <a type="buttom" [routerLink]="['/']">Ir a la tienda</a>

        </div>
    </div>
</div>